<html>
  <head>
    <title>Probando Vue.js</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div class="fixed-block fixed-block--top l-flex vue-look">
      <h1>PRUEBAS VUE</h1>
    </div>





    <h2>INTRODUCTION</h2>
    <section id="app">
      <span v-bind:title="message">
      {{ message }}
      </span>
      <p v-if="isVisible">¿Me ves?</p>
      <ul>
        <li v-for="book in books">
          {{ book.text }}
        </li>
      </ul>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <input v-model="message">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </section>
    <script src="test.js"></script>





    <h2>THE VUE INSTANCE</h2>
    <section id="app2">
      <p>{{ a }}</p>
      <input v-model="a">
    </section>
    <script src="test2.js"></script>





    <h2>TEMPLATE SYNTAX</h2>
    <section id="app3">
      <p v-once>{{ message }}</p>
      <p>Using mustaches: {{ rawHTML }}</p>
      <p>Using v-html directive: <span v-html="rawHTML"></span></p>
      <p v-bind:id="dynamicId">Dynamic ID</p>
      <button v-bind:disabled="isButtonDisabled">Button</button>
      <!-- Arguments -->
      <p v-bind:class="ok ? 'YES' : 'NO'">{{ ok ? 'YES': 'NO' }}</p>
      <a v-bind:href="url">Enlace</a>
      <!-- Modifiers (trigger event.preventDefault())-->
      <form v-on:submit.prevent="onSubmit"></form>
      <!-- Shorthands -->
      <!-- For v-bind -->
      <a :href="url">Enlace 2</a>
      <!-- For v-on -->
      <button @click.prevent="doSomething">Click me</button>
    </section>
    <script src="test3.js"></script>





    <h2>COMPUTED PROPERTIES AND WATCHERS</h2>
    <section id="app4">
      <!-- Computed properties -->
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
      <!-- Computed Caching vs Methods -->
      <p>Computed reversed message: "{{ reverse(message) }}"</p>
      <!-- Computed vs Watched Property -->
      <p>{{ fullName }}</p>
      <!-- Computed Setter -->
      <p>{{ fullName2 }}</p>

      <!-- Watchers -->
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
      <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    </section>
    <script src="test4.js"></script>





    <h2>CLASS AND STYLE BINDINGS</h2>
    <section id="app5">

      <!-- BINDING HTML CLASSES -->
      <!-- Object Syntax -->
      <p v-bind:class="{ active: isActive }">Hola</p>
      <p class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">Hola</p>
      <p class="static" v-bind:class="classObject">Hola</p>
      <p class="static" v-bind:class="classObjectComputed">Hola</p>
      <!-- Array Syntax -->
      <p v-bind:class="[activeClass, errorClass]">Adios</p>
      <p v-bind:class="[isActive ? activeClass : '', errorClass]">Adios</p>
      <p v-bind:class="[{ active: isActive }, errorClass]">Adios</p>
      <!-- With Components -->
      <my-component class="baz boo"></my-component>
      <my-component v-bind:class="{ active: isActive }"></my-component>

      <!-- BINDING INLINE STYLES -->
      <!-- Object Syntax -->
      <p v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">Pruebita</p>
      <p v-bind:style="styleObject">Pruebita 2</p>
      <!-- Array Syntax -->
      <p v-bind:style="[baseStyles, overridingStyles]">Probando</p>
    </section>
    <script src="test5.js"></script>




    <h2>Conditional Rendering</h2>
    <section id="app6">

      <!-- v-if -->
      <p v-if="ok=='ok'">Yes</p>
      <p v-else>No</p>

      <!-- Conditiona groups with v-if on <template>-->
      <template v-if="ok=='ok'">
        <h3>Title</h3>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
        <p>Paragraph 3</p>
      </template>

      <!-- v-else -->
      <div v-if="Math.random() > 0.5">Now you see me</div>
      <div v-else>Now you don't</div>

      <!-- v-else-if -->
      <div v-if="type === 'A'">A</div>
      <div v-else-if="type === 'B'">B</div>
      <div v-else-if="type === 'C'">C</div>
      <div v-else>Not A/B/C</div>

    </section>
    <script src="test6.js"></script>





    <div class="fixed-block fixed-block--bottom l-flex">
      <p><strong>Note:</strong>&nbsp;To launch a local web server:</p>
      <code>ws --spa index.html</code>
      <a href="https://www.npmjs.com/package/local-web-server">Link</a>
    </div>
  </body>
</html>
