<html>
  <head>
    <title>Probando Vue.js</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <h1>INTRODUCTION</h1>
    <div id="app">
      <span v-bind:title="message">
      {{ message }}
      </span>
      <p v-if="isVisible">¿Me ves?</p>
      <ul>
        <li v-for="book in books">
          {{ book.text }}
        </li>
      </ul>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <input v-model="message">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>
    <script src="test.js"></script>





    <h1>THE VUE INSTANCE</h1>
    <div id="app2">
      <p>{{ a }}</p>
      <input v-model="a">
    </div>
    <script src="test2.js"></script>





    <h1>TEMPLATE SYNTAX</h1>
    <div id="app3">
      <p v-once>{{ message }}</p>
      <p>Using mustaches: {{ rawHTML }}</p>
      <p>Using v-html directive: <span v-html="rawHTML"></span></p>
      <p v-bind:id="dynamicId">Dynamic ID</p>
      <button v-bind:disabled="isButtonDisabled">Button</button>
      <!-- Arguments -->
      <p v-bind:class="ok ? 'YES' : 'NO'">{{ ok ? 'YES': 'NO' }}</p>
      <a v-bind:href="url">Enlace</a>
      <!-- Modifiers (trigger event.preventDefault())-->
      <form v-on:submit.prevent="onSubmit"></form>
      <!-- Shorthands -->
      <!-- For v-bind -->
      <a :href="url">Enlace 2</a>
      <!-- For v-on -->
      <button @click.prevent="doSomething">Click me</button>
    </div>
    <script src="test3.js"></script>





    <h1>COMPUTED PROPERTIES AND WATCHERS</h1>
    <div id="app4">
      <!-- Computed properties -->
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
      <!-- Computed Caching vs Methods -->
      <p>Computed reversed message: "{{ reverse(message) }}"</p>
      <!-- Computed vs Watched Property -->
      <p>{{ fullName }}</p>
      <!-- Computed Setter -->
      <p>{{ fullName2 }}</p>

      <!-- Watchers -->
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
      <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    </div>
    <script src="test4.js"></script>

  </body>
</html>
