body {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 14px;
  margin: 10vh 5vw;
  padding-bottom: 100px;
  color: #34495e;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
  margin: 15vh 0 5vh;
}

h1::before,
h2::before {
  content: '#';
  margin-right: 10px;
  color: #3db377;
}

code {
  margin: 10px;
}

.active {
  outline: 1px solid #3db377;
}

.text-danger {
  color: red;
}

.static {
  text-decoration: underline;
}

.fixed-block {
  position: fixed;
  left: 0;
  width: 100%;
  max-height: 75px;
  padding: 8px;
  font-size: .8rem;
  color: #585858;
  background-color: #eaeaea;
}

.fixed-block--top {
  top: 0;
}

.fixed-block--top h1 {
  height: 26px;
}

.fixed-block--bottom {
  bottom: 0;
}

.l-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vue-look {
  color: white;
  background-color: #41b883;
  border-bottom: 3px solid #309266;
}

.vue-look h1::before,
.vue-look h2::before {
  color: white;
}
