body {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 14px;
  margin: 10vh 5vw;
  color: #34495e;
}

h1 {
  font-size: 4vw;
  margin: 15vh 0 5vh;
}

h1::before {
  content: '#';
  margin-right: 10px;
  color: #3db377;
}

.active {
  outline: 1px solid #3db377;
}

.text-danger {
  color: red;
}

.static {
  text-decoration: underline;
}
